{% extends 'base.html' %}

{% block title %}Rick and Morty Characters{% endblock %}

{% block content %}
    <div class="page-title">
        <h1>Characters</h1>
    </div>
    <div class="character-list">
    {% for character in characters %}
        <div class="character-card">
            <img class="character-image" src="{{ character.image }}" alt="{{ character.name }}">
            <div class="character-info">
                <h2>{{ character.name }}</h2>
                <p>Status: <span class="character-detail">{{ character.status }}</span></p>
                <p>Species: <span class="character-detail">{{ character.species }}</span></p>
                <p>Gender: <span class="character-detail">{{ character.gender }}</span></p>
            </div>
        </div>
    {% empty %}
        <p>No characters found.</p>
    {% endfor %}
</div>
{% endblock %}