{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    "Rick and Morty" is an American animated science fiction sitcom that has captivated audiences
    around the world with its unique blend of humor, science fiction themes, and existential musings.
    Created by Justin Roiland and Dan Harmon, the show premiered on Adult Swim in 2013. It follows the
    interdimensional adventures of Rick Sanchez, a cynical, alcoholic genius scientist, and his good-hearted
    but fretful grandson Morty Smith. Together, they embark on wild and often perilous journeys across the
    multiverse, encountering a myriad of bizarre planets, creatures, and situations.

    The series is renowned for its originality, complex storytelling, and the way it balances dark humor
    with moments of genuine emotion. Rick, with his nihilistic worldview and penchant for creating
    gadgets and substances with ethically questionable uses, is contrasted with Morty, whose
    naivety and moral compass often provide the grounding for their escapades. The show also explores the
    dynamics of the Smith family, including Morty's insecure father Jerry, his dissatisfied mother Beth,
    who is Rick's daughter, and his assertive sister Summer.

    "Rick and Morty" delves into themes of existentialism, the nature of reality, and the human condition,
    all while parodying tropes from science fiction and pop culture. Its ability to weave high-concept scientific
    and philosophical ideas with slapstick comedy and satire has earned it a passionate fan base
    and critical acclaim. The show's influence extends beyond television, sparking discussions on science,
    philosophy, and ethics, and it has been praised for its creativity, depth,
    and innovation in the genreof animated adult television.<br><br>
<div class="video-container">
<iframe width="500" height="300" src="https://www.youtube.com/embed/E6TUs69Cw94" frameborder="0" allowfullscreen></iframe>
<iframe width="500" height="300" src="https://www.youtube.com/embed/SsO_uot42gI" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}